:root {
  --main-color: rgba(1, 15, 7, 1);
  --active-color-1: rgba(238, 167, 52, 1);
  --body-text: rgba(134, 134, 134, 1);
  --input-color: rgba(251, 251, 251, 1);
  --bg-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(248, 182, 76, 1);
  --green: rgba(34, 164, 93, 1);
  --red: rgba(255, 112, 88, 1);
  --yellow: rgba(255, 209, 92, 1);
  --h1-dark-font-family: "Yu Gothic UI", Helvetica;
  --h1-dark-font-weight: 300;
  --h1-dark-font-size: 34px;
  --h1-dark-letter-spacing: 0.2199999988079071px;
  --h1-dark-line-height: 42px;
  --h1-dark-font-style: normal;
  --h1-light-font-family: "Yu Gothic UI", Helvetica;
  --h1-light-font-weight: 300;
  --h1-light-font-size: 34px;
  --h1-light-letter-spacing: 0.2199999988079071px;
  --h1-light-line-height: 42px;
  --h1-light-font-style: normal;
  --h2-dark-font-family: "Yu Gothic UI", Helvetica;
  --h2-dark-font-weight: 400;
  --h2-dark-font-size: 28px;
  --h2-dark-letter-spacing: 0.18000000715255737px;
  --h2-dark-line-height: 36px;
  --h2-dark-font-style: normal;
  --h2-light-font-family: "Yu Gothic UI", Helvetica;
  --h2-light-font-weight: 400;
  --h2-light-font-size: 28px;
  --h2-light-letter-spacing: 0.18000000715255737px;
  --h2-light-line-height: 36px;
  --h2-light-font-style: normal;
  --h3-dark-font-family: "Yu Gothic UI", Helvetica;
  --h3-dark-font-weight: 400;
  --h3-dark-font-size: 24px;
  --h3-dark-letter-spacing: 0.14000000059604645px;
  --h3-dark-line-height: 32px;
  --h3-dark-font-style: normal;
  --h3-light-font-family: "Yu Gothic UI", Helvetica;
  --h3-light-font-weight: 400;
  --h3-light-font-size: 24px;
  --h3-light-letter-spacing: 0.14000000059604645px;
  --h3-light-line-height: 32px;
  --h3-light-font-style: normal;
  --headline-dark-font-family: "Font Awesome 5 Brands", Helvetica;
  --headline-dark-font-weight: 400;
  --headline-dark-font-size: 30px;
  --headline-dark-letter-spacing: 0.3199999928474426px;
  --headline-dark-line-height: 38px;
  --headline-dark-font-style: normal;
  --headline-light-font-family: "Font Awesome 5 Brands", Helvetica;
  --headline-light-font-weight: 400;
  --headline-light-font-size: 30px;
  --headline-light-letter-spacing: 0.3199999928474426px;
  --headline-light-line-height: 38px;
  --headline-light-font-style: normal;
  --subhead-dark-font-family: "Yu Gothic UI", Helvetica;
  --subhead-dark-font-weight: 300;
  --subhead-dark-font-size: 20px;
  --subhead-dark-letter-spacing: 0.4444443881511688px;
  --subhead-dark-line-height: normal;
  --subhead-dark-font-style: normal;
  --subhead-light-font-family: "Yu Gothic UI", Helvetica;
  --subhead-light-font-weight: 300;
  --subhead-light-font-size: 20px;
  --subhead-light-letter-spacing: 0.4444443881511688px;
  --subhead-light-line-height: normal;
  --subhead-light-font-style: normal;
  --body-dark-font-family: "Yu Gothic UI", Helvetica;
  --body-dark-font-weight: 400;
  --body-dark-font-size: 16px;
  --body-dark-letter-spacing: -0.4000000059604645px;
  --body-dark-line-height: 24px;
  --body-dark-font-style: normal;
  --body-light-font-family: "Yu Gothic UI", Helvetica;
  --body-light-font-weight: 400;
  --body-light-font-size: 16px;
  --body-light-letter-spacing: -0.4000000059604645px;
  --body-light-line-height: 24px;
  --body-light-font-style: normal;
  --caption-dark-font-family: "Yu Gothic UI", Helvetica;
  --caption-dark-font-weight: 300;
  --caption-dark-font-size: 12px;
  --caption-dark-letter-spacing: -0.23999999463558197px;
  --caption-dark-line-height: 20px;
  --caption-dark-font-style: normal;
  --caption-light-font-family: "Yu Gothic UI", Helvetica;
  --caption-light-font-weight: 300;
  --caption-light-font-size: 12px;
  --caption-light-letter-spacing: -0.23999999463558197px;
  --caption-light-line-height: 20px;
  --caption-light-font-style: normal;
  --button-light-font-family: "Yu Gothic UI", Helvetica;
  --button-light-font-weight: 700;
  --button-light-font-size: 14px;
  --button-light-letter-spacing: 0.800000011920929px;
  --button-light-line-height: 24px;
  --button-light-font-style: normal;
  --button-dark-font-family: "Yu Gothic UI", Helvetica;
  --button-dark-font-weight: 700;
  --button-dark-font-size: 14px;
  --button-dark-letter-spacing: 0.800000011920929px;
  --button-dark-line-height: 24px;
  --button-dark-font-style: normal;
}
